<div class="menu">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <a mat-list-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/list">
          <mat-icon>dashboard</mat-icon>
          <span>List</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/faq">
          <mat-icon>question_answer</mat-icon>
          <span>FAQ</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</div>
